<app-loading *ngIf="isSpinning"></app-loading>
<div class="container" *ngIf="!isSpinning">
    <h3>Route to User :</h3>
    <div style="padding: 10px 0">
        <div>
        <label style="display: inline-block; width: 60px; color:black">Start</label>
        <input type="text" [(ngModel)]="start" />
    </div>
    <div>
        <label style="display: inline-block; width: 60px; color:black">Finish</label>
        <input type="text" [(ngModel)]="finish"/>
    </div>
</div>
  <app-navigation-maps appId="SFkBNJRm1jpsmh2j6vpy" apiCode="M0lL-syflmBoz5m3RPXw0w" [start]="start" [finish]="finish" width="60%" height="530px"></app-navigation-maps>
  
  <br>
  <h3>Customer Details</h3>
  
      <!-- <app-header></app-header> -->
      <form >
          <h6 for="vehicalNumber">Customer Id  : <b>{{customer.customerId}}</b></h6>  
          <br>
          <h6 for="vehicalNumber">Customer Name  : <b>{{customer.name}}         </b></h6> 
          <br>
          <h6 for="vehicalNumber">Customer Landmark  : <b>{{customer.landmark}}     </b></h6> 
          <br>
          <h6 for="vehicalNumber">Customer Mobile Number  : <b>{{customer.mobileNumber}} </b></h6>
          <br>      
        </form>
  

        <button class="btn btn-primary" style="float:left;" (click)="navigateToHospital()">Navigate to hospital</button>
        
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



<!-- <agm-map [latitude]="sourceLatitude" [longitude]="sourceLongitude">
  
   
    <agm-marker [latitude]="destinationLatitude" [longitude]="destinationLongitude"></agm-marker>
    <agm-marker [latitude]="sourceLatitude" [longitude]="sourceLongitude"> </agm-marker>
 
 
</agm-map> -->